# Dependencies
node_modules/
.DS_Store
dist/
dist-ssr/
*.local

# Environment
.env
.env.local
frontend/.env
frontend/.env.local

# Backups
legacy_hms_backup/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
